.background{
    -fx-background-image: url("../gfx/bg/Bomberman.png");
}

.button{
    -fx-background-radius: 35px;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

#start{
    -fx-background-image: url("../gfx/button/start.png");
}

#start:hover{
    -fx-background-image: url("../gfx/button/start_hov.png");
}

#settings{
    -fx-background-image: url("../gfx/button/settings.png");
}

#settings:hover{
    -fx-background-image: url("../gfx/button/settings_hov.png");
}

#quit{
    -fx-background-image: url("../gfx/button/quit.png");
}

#quit:hover{
    -fx-background-image: url("../gfx/button/quit_hov.png");
}

#back{
    -fx-background-image: url("../gfx/button/back.png");
}

#back:hover{
    -fx-background-image: url("../gfx/button/back_hov.png");
}

.label{
    -fx-text-fill: linear-gradient(to top, royalblue, aquamarine);
}