.background{
    -fx-background-image: url("../gfx/bg/Bomberman.png");
}

.button{
    -fx-background-radius: 35px;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

#back{
    -fx-background-image: url("../gfx/button/back.png");
}

#back:hover{
    -fx-background-image: url("../gfx/button/back_hov.png");
}

.slider{
    -fx-pref-width: 400 px;
}

.slider .track{
    -fx-background-color: linear-gradient(to left, cyan, magenta);
    -fx-background-radius: 0;
}

.slider .thumb{
    -fx-pref-height: 100 px;
    -fx-pref-width: 40 px;
    -fx-background-color: linear-gradient(to top, royalblue, aquamarine);
    -fx-background-radius: 0;
}

.label{
    -fx-text-fill: linear-gradient(to top, royalblue, aquamarine);
}